# Better-Auth
BETTER_AUTH_SECRET=random
BETTER_AUTH_URL=http://localhost:3333

# OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


# DB
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres